[submodule "showfolio-hugo-theme"]
	path = showfolio-hugo-theme
	url = https://github.com/apvarun/showfolio-hugo-theme
[submodule "themes/showfolio"]
	path = themes/showfolio
	url = https://github.com/apvarun/showfolio-hugo-theme.git
